.header__lang-link{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: right;
    color: #FFFFFF;
    /*border:1px solid red;*/
    margin-bottom: 8px;
    margin-top: 18px;
    text-decoration: none;
}
.header__lang-link:last-child{
    margin-left: 18px;
}
.header__lang-link:hover{
    transition: 0.8s all;
    opacity: 0.8;
}

@media screen and (max-width: 320px){
    .header__lang-link{
        font-size:1.1rem;
        line-height: 1.5;
    }
}