.lead__title{
width: 720px;
margin-right: auto;
margin-left: auto;
font-style: normal;
font-weight: 900;
font-size: 6rem;
line-height: 1;
margin-bottom: 0px;
text-align: center;
/*border:1px solid red;*/
color: #FFFFFF;
}

@media screen and (max-width: 1024px){
    
}
@media screen and (max-width: 768px){

}
@media screen and (max-width: 320px){
    .lead__title{
        width: 288px;
        font-size: 2.5rem;
    }
}