@import url(./__caption/lead__caption.css);
@import url(./__image/lead__image.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__title/lead__title.css);

.lead{
    width: 77%;
    max-width: 1184px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    /*border:1px solid red;*/
}


@media screen and (max-width: 1024px){
    .lead{
        width: 928px;
    }
}
@media screen and (max-width: 1000px){
    .lead{
        width: 100%;
    }
}
