@import url(./__lang-link/header__lang-link.css);
@import url(./__logo/header__logo.css);
@import url(./__lang-switch/header__lang-switch.css);

.header{
    width: 93%;
    height: 52px;
    padding-top: 28px;
    /*border: 1px solid red;*/
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}