@import url(./__lang-link/header__lang-link.css);
@import url(./__logo/header__logo.css);
@import url(./__lang-block/header__lang-block.css);
@import url(./__lang-link/_active/header___lang-link_active.css);

.header{
    max-width: 1184px;
    width: 93%;
    padding-top: 28px;
    /*border: 1px solid red;*/
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}
