.lead__caption{
    width: 159px;
    font-style: normal;
    font-weight: normal;
    font-size: 0.6rem;
    line-height: 1;
    margin-top: 8px;
    margin-bottom: 0px;
    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: #FFFFFF;
}

