.footer__link{
    margin-right: 18px;
    margin-left: 0px;
    padding-left: 0px;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1;
    text-decoration: none;
    color: #FFFFFF;
    /*border: 1px solid red;*/
}

.footer__link:hover{
    transition: 0.8s all;
    opacity: 0.8;
}

<<<<<<< HEAD
@media all and (max-width: 320px){
=======


@media all and (max-width: 620px){
>>>>>>> 8a5a5240a98ced905e4b6b06f37e1c595af13574
    .footer__link{
       display: block;
       margin-top: 32px; 
       margin-left: 16px;
       font-size: 24px;
    }
}