.place__paragraph{
    margin-top: 0px;
    margin-bottom: 0px;
    /*border:1px solid red;*/
    font-style: normal;
    font-weight: normal;
    font-size: 1.1rem;
    line-height: 1.67;
    color: #FFFFFF;    
}

.place__paragraph:nth-child(2n){
    margin-top: 24px;
}

<<<<<<< HEAD
@media screen and (max-width: 768px){
    .place__paragraph{
        font-size: 1rem;
    }
}
=======

@media screen and (max-width: 768px){
    .place__paragraph{
        line-height: 1.63;
        font-size: 1rem;
    }
}
>>>>>>> 8a5a5240a98ced905e4b6b06f37e1c595af13574
