@import url(./__background/cover__background.css);
@import url(./__overlay/cover__overlay.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__title/cover__title.css);

.cover{
    max-width: 92.5%;
    margin: 0 auto;
    margin-top: 92px;
    background: url(https://i.postimg.cc/cCTwPf2g/cover-background.jpg) no-repeat;
    background-size: cover; 
}


@media screen and (max-width: 1024px){
    .cover{
        width: 100%;
        height: 640px;
    }
}
@media screen and (max-width: 768px){
    .cover{
        width: 100%;
        height: 480px;
        margin-top: 88px;
    }
}
@media screen and (max-width: 320px){
    .cover{
        width: 100%;
        height: 200px;
        margin-top: 64px;
    }
}