.place__website__link{
    /*border:1px solid red;*/
    margin-left: 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 1.1rem;
    line-height: 1;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.place__website__link:hover{
    transition: 0.8s all;
    opacity: 0.8;
}

@media screen and (max-width: 1024px){
    .place__website__link{
        margin-left: 32px;
    }
}
@media screen and (max-width: 768px){
    .place__website__link{
        margin-left: 28px;
    }
}
@media screen and (max-width: 320px){
    .place__website__link{
        display: none;
    }
}