@import url(../root/normalize.css);
@import url(../blocks/cover/cover.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/header/header.css);
@import url(../blocks/intro/intro.css);
@import url(../blocks/lead/lead.css);
@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/place/place.css);
@import url(../blocks/page/page.css);

@font-face{
    src: url('../../Inter-3.13/Inter Web/Inter-Regular.woff2') format('woff2'),
         url('../../Inter-3.13/Inter Web/Inter-Regular.woff') format('woff');
    font-family: 'Inter';
}
@font-face{
    src: url('../../Inter-3.13/Inter Web/Inter-Bold.woff2') format('woff2'),
         url('../../Inter-3.13/Inter Web/Inter-Bold.woff') format('woff');
    font-family: 'Inter';
    font-weight: bold;
}