@import url(./__image/place__image.css);
@import url(./__paragraph/place__paragraph.css);
@import url(./__title/place__title.css);
@import url(./__website/__link/place__website__link.css);
@import url(./__website/__url-heading/place__website__url-heading.css);
@import url(./__row/place__row_bottom.css);
@import url(./__row/place__row_top.css);
@import url(./__text/place__text.css);

.place{
    width: 77%;
    margin-top: 80px;
    /*border:1px solid red;*/
    margin-left: auto;
    margin-right: auto;
    /*display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 40px;
    grid-template-areas: 
    "title website"
    "image paragraph"
    "image paragraph"*/
}

@media screen and (max-width: 1024px){
    .place{
        width: 90%;
    }
}
@media screen and (max-width: 768px){
    .place{
        width: 93%;
        margin-top: 76px;
    }
}
@media screen and (max-width: 320px){
    .place{
        width: 100%;
        margin-top: 42px;
    }
}





