.place__row_top{
    display: flex;
    align-items: flex-end;
    /*border:1px solid red;*/
}


@media screen and (max-width: 1024px){
    
}
@media screen and (max-width: 768px){

}
@media screen and (max-width: 320px){
    .place__row_top{
        display: block;
    }
}