.place__row_bottom{
    margin-top: 48px;
    display: flex;
    flex-direction: row;
}


@media screen and (max-width: 1024px){
    
}
@media screen and (max-width: 768px){

}
@media screen and (max-width: 320px){
    .place__row_bottom{
        display: block;
    }
}